body {
 /*   background: #1e1e1e;*/
    word-wrap: break-word;
    word-break: keep-all;
}

body, th, td, input, select, textarea, button {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
    color: #666;
}

.tit_logo {
    float: left;
}

.wrap_head {
    max-width: 1160px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.wrap_head .tit_service {
    display: block;
    overflow: hidden;
    height: 20px;
    margin-top: 20px;
    background: url(http://t1.kakaocdn.net/kakaocorp/pw/logo_kakao.png) no-repeat 0 0;
    text-indent: -9999px;
}

#kakaoGnb {
    display: inline-block;
    height: 60px;
    vertical-align: top;
}

#kakaoGnb .list_gnb {
    float: left;
    height: 60px;
    margin-left: 5px;
}

#kakaoGnb .list_gnb > li {
    float: left;
    height: 61px;
}

#kakaoGnb .list_gnb > li .link_gnb {
    display: block;
    padding: 0 14px 0 13px;
    position: relative;
    color: #1e1e1e;
    font-size: 16px;
    height: 60px;
    line-height: 58px;
    font-family: 'NotoSans Regular','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

dl, ul, ol, menu, li {
    list-style: none;
}

.list_lang {
    float: right;
    margin-top: 17px;
    clear: both;
}

.info_svc {
    float: left;
    position: relative;
}

.info_svc .dlnk_info {
    margin-right: 8px;
}

.info_copyright {
    float: left;
    clear: both;
}

.copyright {
    color:#1e1e1e; 
    padding-top: 2px; 
    font-size:12px;
}



#kakaoGnb .list_gnb > li .link_talent {
    padding-right: 32px;
}

.ico_corp {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(http://t1.kakaocdn.net/kakaocorp/pw/ico_corp_181031.png) no-repeat;
    text-indent: -9999px;
    vertical-align: top;
}

.ico_arr {
    position: absolute;
    top: 23px;
    right: 13px;
    width: 14px;
    height: 14px;
    background-position: -155px 0;
}